
.container{
    background-color: rgb(142, 151, 156);
    width: 100vw;
    height: 100vh;
}

.lista{
    text-align: center;
}

.titolo{
    text-align: center;
    color: red;
    text-shadow: 10px o black;
}


